@charset 'UTF-8';

.jumbotron {
    background-image: url('/assets/img/top_page.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 800px;
}